@media (max-width: 575px) {
  .main {
    justify-content: start;
    align-content: start;
    grid-template-columns: 32.7rem;
    grid-template-rows: minmax(auto, auto);
    gap: 3rem;
    /* gap: 0rem; */
    padding: 3rem;
  }

  /* NAVIGATION */
  .nav-bar {
    /* height: 20.3rem; */
  }

  .profile {
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    gap: 1.2rem;
  }

  .profile-img {
    width: 6.4rem;
    height: 6.4rem;
    transform: scale(1.1);
  }

  .profile-text {
    display: row;
    gap: 0.5rem;
  }

  .profile-text p {
    font-size: 1.5rem;
    line-height: 1.778rem;
  }

  .profile-text h1 {
    font-size: 2.4rem;
    line-height: 2.844rem;
  }

  .nav-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  /* CARD */
  .card {
    background-size: cover;
    background-position: center;
    height: 16rem;
  }

  .card-text {
    padding: 3rem;
    gap: 2rem;
  }

  .toggleBtn-icon {
    width: 2.1rem;
  }

  .card-time {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-time > span {
    font-size: 3.2rem;
  }

  /* .text {
  } */
}
/* 
background-size: cover;
background-position: center;
*/
