/* /////////////////////// */
/*NAVIGATION BAR */
/* /////////////////////// */
.nav-bar {
  background-color: #1c204b;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 15px;
}
.profile {
  display: flex;
  height: 68%;
  flex-direction: column;
  gap: 3rem;
  background-color: #5747ea;
  border-radius: 15px;
  padding: 3.2rem;
}

.profile-img {
  height: 7.8rem;
  width: 7.8rem;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-text > p {
  font-size: 1.5rem;
  color: #bbc0ff;
  line-height: 1.778rem;
}

.profile-text > h1 {
  font-size: 4rem;
  line-height: 4.74rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  height: 32%;
  gap: 2rem;
  padding: 3.2rem;
  color: #7078c9;
  font-size: 1.8rem;
  line-height: 2.133rem;
}

.nav-link:link,
.nav-link:visited {
  transition: 0.2s;
}
.nav-link:hover,
.nav-link:active {
  color: #fff;
}

.nav-link.active {
  color: #fff;
}

/* /////////////////////// */
/*CARD */
/* /////////////////////// */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  background-repeat: no-repeat;
}

#work-card {
  background-image: url("../img/work.png");
}
#play-card {
  background-image: url("../img/play.png");
}
#study-card {
  background-image: url("../img/study.png");
}
#exercise-card {
  background-image: url("../img/exercise.png");
}
#social-card {
  background-image: url("../img/social.png");
}
#selfCare-card {
  background-image: url("../img/self-care.png");
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100vw;
  margin-top: 4.5rem;
  border-radius: 20px;
  background-color: #1c204b;
  padding: 2.9rem 3.2rem;
  transform: scale(1.01);
  transition: 0.2s;
}

.card-text:hover {
  background-color: #33397a;
  cursor: pointer;
}
.cardText-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardText-header > h1 {
  font-size: 1.8rem;
  line-height: 2.133rem;
}
#toggle-btn {
  background-color: transparent;
  border: none;
}

.toggleBtn-icon {
  height: 0.5rem;
  width: 1.6rem;
}

.card-time {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-time > span {
  font-size: 5.6rem;
}

.card-time > p {
  font-size: 1.5rem;
  color: #bbc0ff;
}
